.woah {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #b98029;
    background-size: cover;
    font-size: large;
    font-family: 'Nintendo-DS-BIOS';
    height: 100%;
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 1;
}
.woahcontent {
    padding: 20px;
}
.tilted:hover {
    transform: rotate(0deg);


}
.grid {
  width: 75%;
  max-width: 500px;
  margin-left: 22%;
  margin: 10px auto;

  position: relative;
}

.grid::after {
  content: "";
  display: block;
  clear: both;
}

.grid-item {
  width: 21.833%;
  padding-bottom: 21.833%;
  overflow: hidden;
  float: left;
  background: #61491d;
  transform: rotate(45deg);
  margin: 5.5%;
  margin-top: -11%;
  position: relative;
}
.grid-item img {
    object-fit: fill;
    width: 130%;
    height: 110%;
    top: -40%;
  right: -15%;
    position: absolute;
}
.grid-item img.hover-img {
    opacity: 0;
}
.grid-item:hover img.hover-img {
    opacity: 1;
} 
.grid-item:hover img.main-img {
    opacity: 0;
}
.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(3) {
   margin-top: 5%;
}

.grid-item:nth-child(5n+4) {
    margin-left: 21.9%;
}

.grid-item:nth-child(5n+6) {
    clear:left;
}

.grid-item:nth-child(5n+6):last-of-type {
  margin-left: 38.25%;
}


.grid-inner {
  box-sizing: border-box;
  position: absolute;
  top:25%;
  left: 10%;
  display: flex;
  word-wrap: break-word;
  width: 70%;
  max-width: 70%;
  height: 100%;
  color: aliceblue;
  text-align: center;
  padding-top: 40%;
  font-size: clamp(8px, 4cqi, 2em); 
  overflow-wrap: break-word;
}
.grid-inner img {
    transform: rotate(-45deg);
    width: 160%;
    top: -30%;
    left: -20%;
    position: absolute;
    z-index: -1;
}
