.woah {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #b98029;
    background-size: cover;
    font-size: large;
    font-family: 'Nintendo-DS-BIOS';
    height: 100%;
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 1;
}
.woahcontent {
    padding: 20px;
}

.tilted {
    width: 15%;
    height: 15%;
    top: 50px;
    left: 50%;
    transform: rotate(5deg);
    transition: transform 0.3s ease;
}
.tilted:hover {
    transform: rotate(0deg);


}
.gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      justify-content: center;
      gap: 50px 40px;
      padding: 80px 40px;
      z-index: 2;
    }
.gallery-item {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      aspect-ratio: 1/1;
      text-decoration: none;
      color: white;
      transform: rotate(45deg);
      background-color: #9e702a;
      margin-top: 0;
      
    }
.gallery-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0; left: 0;
    }
 .gallery-item img.hover-image {
      opacity: 0;
    }

.gallery-item:hover img.hover-image {
      opacity: 1;
    }

.gallery-item:hover img.main-image {
      opacity: 0;
    }

.character-name {
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-weight: bold;
      font-size: 1.1rem;
      color: #ff9900;
      pointer-events: none;
      transform: rotate(-45deg);
      left: 60%;
    }