.woah {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #b98029;
    background-size: cover;
    font-size: large;
    font-family: 'Nintendo-DS-BIOS';
    height: 100%;
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 1;
}
.woahcontent {
    padding: 20px;
}

.tilted {
    width: 15%;
    height: 15%;
    top: 50px;
    left: 50%;
    transform: rotate(5deg);
    transition: transform 0.3s ease;
}
.tilted:hover {
    transform: rotate(0deg);


}
.grid {
  width: 75%;
  max-width: 75%;
  margin: 0 auto;
}

.grid::after {
  content: "";
  display: block;
  clear: both;
}

.grid-item {
  width: 21.833%;
  padding-bottom: 21.833%;
  overflow: hidden;
  float: left;
  background: #BBB;
  transform: rotate(45deg);
  margin: 5.5%;
  margin-top: -11%;
  position: relative;
}
.grid-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
  left: 50%;
    position: absolute;
}
.grid-item img.hover-img {
    opacity: 0;
}
.grid-item:hover img.hover-img {
    opacity: 1;
} 
.grid-item:hover img.main-img {
    opacity: 0;
}
.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(3) {
   margin-top: 5%;
}

.grid-item:nth-child(5n+4) {
    margin-left: 21.9%;
}

.grid-item:nth-child(5n+6) {
    clear:left;
}

.grid-item:nth-child(5n+6):last-of-type {
  margin-left: 38.25%;
}


.grid-inner {
  box-sizing: border-box;
  position: absolute;
  top:25%;
  left: 25%;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  text-align: center;
  padding-top: 40%;
  font-size: 2em;
}