body {
  background: black;
}

.arrow {
  position: fixed;
  bottom: 0;
  left: 95%;
  margin-left:-20px;
  width: 100px;
  height: 100px;
  background-image: url("dino.png");
  background-size: cover;
  opacity: 0;
}

.bounce {
  animation: bounceIn 2s infinite 2s;
}
@keyframes bounceIn {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  40% {
    transform: translateY(-60px);
  }
  60% {
    transform: translateY(-15px);
  }
}