.woah {
    text-align: center;
    color: rgb(255, 106, 0);
    background-color: rgb(255, 166, 0);
    background-size: cover;
    font-size: large;
    font-family: 'Nintendo-DS-BIOS';
    height: 100%;
    width: 20%px;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 1;
}
.woahcontent {
    padding: 20px;
}