.woah {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 145, 0);
    background-size: cover;
    font-size: large;
    font-family: 'Nintendo-DS-BIOS';
    height: 100%;
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 1;
}
.woahcontent {
    padding: 20px;
}

.tilted {
    width: 15%;
    height: 15%;
    top: 50px;
    left: 50%;
    transform: rotate(5deg);
    transition: transform 0.3s ease;
}
.tilted:hover {
    transform: rotate(0deg);


}